h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: azure;
  font-size: 1.2em;
  padding-bottom: 50px;
}
body {
  background-color: rgb(85, 124, 207);
  color: rgb(245, 101, 6);
  text-align: center;
  margin-top: 200px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2em;
  padding-top: 50px;
}
